/* IMPORT FONT-FAMILY FROM GOOGLE-FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

/* VARIABLES */
:root {
  --background: linear-gradient(to bottom, #081830, #182e3f, #31434d);
  --primaryColor: #000;
  --secondaryColor: #fff;
  --fontFamily: "Montserrat", sans-serif;

  /* FONT TYPOGRAPH */
  --fontSize-xl: 1.5rem;
  --fontSize-lg: 1rem;
  --fontSize-md: 0.875rem;
  --fontSize-sm: 0.75rem;
  --fontWeight-lg: 600;
  --fontWeight-md: 400;
  --fontWeight-sm: 200;

  --fiery-rose: #fc6471ff;
  --dark-purple: #210b2cff;
  --wild-blue-yonder: #8d9ec6ff;
  --medium-aquamarsine: #69dc9eff;
  --russian-violet: #392b58ff;
  --peach-puff: #f9dbbdff;
}

/* RESETS */
*,
*::after,
*::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font: 400 var(--fontSize-lg) var(--fontFamily);
  background: var(--background);
  letter-spacing: 1px;
  min-height: 100vh;
}
a:hover {
  text-decoration: underline;
}
ul,
li,
a,
p {
  color: var(--primaryColor);
  margin: 0;
  padding: 0;
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/* HEADER */

/* .header {} */

.header__title {
  line-height: 2.5;
}
.title__link {
  color: var(--peach-puff);
  display: inline-block;
  font-weight: var(--fontWeight-lg);
}

.todo {
  margin-top: 1.5rem;
  color: var(--secondaryColor);
  min-height: 100vh;
  border-radius: 10px;
}

/* .todo__form {} */

.form__label {
  position: relative;
  left: 6.5rem;
  pointer-events: none;
  font-size: var(--fontSize-md);
  /* HIDE LABEL UNTIL A FIND A WAY TO IMPLEMENT THIS */
  display: none;
}

.form__input {
  width: 20rem;
  height: 2.5rem;
  padding: 5px 12px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  border: none;
  color: var(--dark-purple);
  font-size: var(--fontSize-md);
}
.form__input::placeholder {
  color: var(--dark-purple);
}
.form__btn {
  width: 2.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: var(--secondaryColor);
  border: none;
  cursor: pointer;
  color: var(--wild-blue-yonder);
  transition: 0.2s all ease;
}
.form__btn:hover {
  background: var(--wild-blue-yonder);
  color: var(--secondaryColor);
}

.btn__icon {
  font-size: var(--fontSize-xl);
  pointer-events: none;
}
