/* IMPORT FONT-FAMILY FROM GOOGLE-FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

/* VARIABLES */
:root {
  --backgroundColor: #fff;
  --primaryColor: #000;
  --fontFamily: "Montserrat", sans-serif;

  /* FONT TYPOGRAPH */
  --fontSize-lg: 1rem;
  --fontSize-md: 0.875rem;
  --fontSize-sm: 0.75rem;
  --fontWeight-lg: 600;
  --fontWeight-md: 400;
  --fontWeight-sm: 200;

  --fiery-rose: #fc6471ff;
  --dark-purple: #210b2cff;
  --wild-blue-yonder: #8d9ec6ff;
  --medium-aquamarsine: #69dc9eff;
  --russian-violet: #392b58ff;
  --peach-puff: #f9dbbdff;
}

/* RESETS */
*,
*::after,
*::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font: 400 var(--fontSize-lg) var(--fontFamily);
  background: var(--backgroundColor);
  letter-spacing: 1px;
}
a:hover {
  text-decoration: underline;
  color: var(--primaryColor);
}
ul,
li,
a,
p {
  color: var(--primaryColor);
  margin: 0;
  padding: 0;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
